<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link href="{{ url_for('static', filename='fonts/Oswald.css') }}" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='fonts/OpenSans.css') }}" rel='stylesheet' type='text/css'>
    <title>{% block title %}{% endblock %} - Tarea1</title>
    {% endblock %}
</head>
<body>
<div class="wrapper">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
    {% endblock %}
</div>
</body>
</html>exit
