{% extends "base.html" %}
{% block title %}Tester{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div style="text-align:right"><a href="{{ url_for('validator') }}">Ir al Validador</a></div>
<h1>Tester</h1>
<p> Ingrese su nombre de Usuario y el texto a encriptar. </p>
<p> Recibirá el texto encriptado, el IV utilizado en la encriptación, y el Tag calculado con CBCMAC.</p>
<p> El texto debe ser texto plano de un largo múltiplo de 16.</p>
<h4>Recuerde! Usted sólo cuenta con 50 pruebas distintas.</h4>
<br>
{% if form %}
<form action="{{ url_for('tester') }}" method=post>
    {% for field in form %}
    <!--<dt>{{ field.label }}-->
    <div>{{ field }}
        {% if field.errors %}
        {% for error in field.errors %}
        <div class="isa_error">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    <div><input type=submit value=Testear></div>
</form>
{% endif %}

{% for message in get_flashed_messages() %}
<div class=isa_info>{{ message }}</div>
{% endfor %}

{% endblock %}