{% extends "base.html" %}
{% block title %}Validator{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important { color: #336699; }
</style>
{% endblock %}
{% block content %}
<div style="text-align:right"><a href="{{ url_for('tester') }}">Ir al Tester</a></div>
<h1>Validator</h1>
<p> Ingrese su nombre de Usuario, texto y etiqueta supuestamente valida. </p>
<p> Recibirá una respuesta respecto a la etiqueta ingresada.</p>
<p> El texto debe ser texto plano de un largo múltiplo de 16.</p>
{% if form %}
<form action="{{ url_for('validator') }}" method=post>
    {% for field in form %}
    <!--<dt>{{ field.label }}-->
    <div>{{ field }}
        {% if field.errors %}
        {% for error in field.errors %}
        <div class="isa_error">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    <div><input type=submit value=Validar></div>
</form>

{% endif %}

{% for message in get_flashed_messages() %}
<div class=isa_success>{{ message }}</div>
{% endfor %}

{% endblock %}